extends layout

block content
  link(rel='stylesheet', href='/stylesheets/real.css')
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script src="https://code.highcharts.com/modules/export-data.js"></script>
  <script src="https://code.highcharts.com/modules/accessibility.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

  script.
    document.getElementById("real").className="current";

    $(document).ready(function() {
      updateData();
      updateChart();
      });

    setInterval(function() {  
      updateData();
    }, 2000);

    setInterval(function() {
      updateChart();
    }, 3600000);
    
    const updateData = () => {
      $.ajax({
        type: 'get', 
        dataType : 'html', 
        url: "/api/updateData", 
        contentType: 'application/json', 
        success: (html) => {
          $("#nowTable > tbody").html(html);
        },
        error: (err) => {
          console.log(err)
        }
      })
    }

    const updateChart = () => {
      $.ajax({
        type: 'get', 
        dataType : 'json', 
        url: "/api/updateChart", 
        contentType: 'application/json', 
        success: (result) => {
          $.each(result, function(index, item) {
            for(let i=0; i<10; i++) {
              myChart.data.labels.splice(-1,1);
              myChart.data.datasets.forEach((datasets) => {
                datasets.data.pop();
              });
            }

            for(let i=0; i<10; i++) {
              myChart.data.labels.push(item[i].rgstDt);
              myChart.data.datasets.forEach((datasets) => {
                datasets.data.push(item[i].windSpeed);
              });
            }
          })
          myChart.update();
        },
        error: (err) => {
          console.log(err)
        }
      })
    }

  .row
    .col-5
      h1(style='text-align:center') 실시간 자료 조회
      br
      table#nowTable
        thead
          tr
            th(colspan='2', style='background-color:#dadada') 실시간 데이터
        tbody
    .col-6
      h1(style='text-align:center') 최근 10시간 데이터
      .container
        canvas#myChart

      script.
        const greenBg = 'rgba(43,255,0,0.4)';
        const greenBd = 'rgba(43, 255, 0, 1)';
        const ctx = document.getElementById('myChart'); 
        const myChart = new Chart(ctx, { 
          type: 'bar', 
          data: { 
            labels: [],
            datasets: [{ label: '평균 풍속(m/s) ', 
                         data: [], 
                         backgroundColor: [], 
                         borderColor: [], 
                         borderWidth: 1
                      }]
          }, 
          options: { 
            scales: { 
              yAxes: [{ 
                ticks: { beginAtZero: true }
              }]
            }
          }
        });
        
        for(let i=0; i<10; i++) {
          myChart.data.datasets.forEach((backgroundColor) => {
            backgroundColor.backgroundColor.push(greenBg);
          });
          myChart.data.datasets.forEach((borderColor) => {
            borderColor.borderColor.push(greenBd);
          });
        }