doctype html
html
  head
    title Wind Direction Speed
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css")
    link(rel="stylesheet", href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css")
    link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Do+Hyeon&display=swap')
    script(src='https://code.jquery.com/jquery-1.12.4.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js')
    script(src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js")
  body
    nav.navbar.navbar-expand-sm.bg-dark.fixed-top
      a.navbar-brand(href='/')
        img(src='images/logo.png', alt='Logo', style='width:150px')
      ul.navbar-nav
        li.nav-item(style='padding:15px')
          a#real(href='/') 실시간 자료 조회
        li.nav-item(style='padding:15px')
          a#data(href='data') 측정 자료 조회
    br
    br
    block content
