extends layout

block content
  link(rel='stylesheet', href='/stylesheets/module.css')

  script.
    document.getElementById("module").className="current";

    //- 등록 버튼을 눌러 백엔드로 장치 등록 정보를 넘기는 함수
    const registerModule = () => {
      //- 장치 유형 정보를 받아옴
      const deviceTypeOption = document.getElementById("deviceType");
      const deviceType = deviceTypeOption.options[deviceTypeOption.selectedIndex].value;

      $.ajax({
        data: {
          'deviceId': document.getElementById("deviceId").value,
          'deviceType': deviceType,
          'location': document.getElementById("location").value
        },
        type: 'get',
        dataType : 'html',
        url: "/registModule/api/regist", 
        contentType: 'application/json', 
        success: (success) => {
          alert('등록완료');
          location.href='/module';
        },
        error: (err) => {
          alert('등록실패');
          console.log(err)
        }
      })
    }
    
    //- 실시간 상호작용을 위한 구간
    $(document).ready(function() {
      //- 장치 이름 중복을 확인하기 위한 작업
      $("#deviceId").blur(function() {
        if($("#deviceId").val() == "") {
          $("#notice").text("장치 이름을 입력해주세요.");
        } else {
          $.ajax({
            data: {
              'deviceId': document.getElementById("deviceId").value
            },
            type: 'get',
            dataType : 'html',
            url: "/registModule/api/checkId", 
            contentType: 'application/json', 
            success: (success) => {
              if(success == "yes") {
                $("#notice").text("중복된 이름입니다.");
                $("#notice").removeAttr('style');     //속성의 유무로 버튼 작업을 위한 속성 해제 작업
                $("#registerButton").attr('disabled', true);
              } else {
                $("#notice").text("사용 가능한 이름입니다.");
                $("#notice").attr('style', "font-family: 'Do Hyeon', sans-serif; color: green;");   //속성 변경
                if($("#location").val()!="") {
                  $("#registerButton").attr('disabled', false);
                }
              }
            },
            error: (err) => {
              console.log(err)
            }
          })
        }
      })

      //- 중복과 공백을 방지하기 위한 버튼 (비)활성화 작업
      $("#location").keyup(function() {
        console.log($("#notice").is('[style]'));
        if($("#notice").is('[style]') && ($("#location").val()!="")) {
          $("#registerButton").attr('disabled', false);
        } else {
          $("#registerButton").attr('disabled', true);
        }
      });
    })
    
  p#title 장치 등록

  table#registTable(border='1')
    tr
      th 장치 이름
      td
        input(type='text' class='form-control' id='deviceId' placeholder="Device Name")
    tr
      th 장치 유형
      td
        select(id='deviceType' class='form-control')
          option(value='풍향/풍속') 풍향/풍속
          option(value='온도/습도') 온도/습도
          option(value='미세먼지') 미세먼지
    tr
      th 장치 위치
      td
        input(type='text' class='form-control' id='location' placeholder="Device Location")
    tr
      th 등록 일자
      td 
        input(type='text' class='form-control' id='dateInput' disabled)

  p#notice 장치 이름을 입력해주세요.

  script.
    document.getElementById('dateInput').value = moment().format('YYYY-MM-DD');

  div
    button.btn.btn-dark(onclick="registerModule()" style='margin-right: 5px;' disabled id="registerButton") 등록
    button.btn.btn-dark(onclick="location.href='/module'" style='margin-left: 5px;') 취소