body {
    background-color: #D9D7D7;
    text-align: center;
}

#title {
    font-family: 'Black Han Sans', sans-serif;
    font-size: 50px;
}

#listTable {
    margin: auto;
    font-family: 'Do Hyeon', sans-serif;
    width: 550px;
}

#listTable thead {
    font-size: 20px;
    color: white;
    background-color:#525252;
}

#listTable thead tr {
    height: 45px;
}

#listTable tbody {
    background-color: #f3f3f3;
}

#registTable {
    margin: auto;
    font-family: 'Do Hyeon', sans-serif;
    width: 300px;
    background-color: #f3f3f3;
}

#registTable th {
    background-color: #d6d6d6;
}

#notice {
    font-family: 'Do Hyeon', sans-serif;
    color : red;
}

.pagination {
    justify-content: center;
  }

.pagination button {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
}
  