body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.navbar {
  margin:0;
  padding:0;
}

.navbar .navbar-nav .nav-item a {
  color:white;
  text-decoration: none;
}

.navbar .navbar-nav .nav-item a.current {
  color: rgb(43, 255, 0);
}

.navbar .navbar-nav .nav-item a:hover:not(.current) {
  color: rgb(123, 158, 125);
}
